@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Space+Grotesk:wght@300..700&display=swap");

@import "tailwindcss";

@theme {
  --font-source-code-pro: "Source Code Pro", monospace;
  --font-space-grotesk: "Space Grotesk", sans-serif;

  --color-brand: #f7d000;
}

@theme {
  --animate-spin-slow: spin-slow 7s linear infinite;

  @keyframes spin-slow {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@layer utilities {
  .animation-paused {
    animation-play-state: paused;
  }

  .animation-running {
    animation-play-state: running;
  }
}
